// Place all the styles related to the katalogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  padding-top: 10px;
}

a.btn.btn-primary{
    color: #fff;
}

.table > tbody > tr > td:nth-child(3){
  width: 400px;
}

